{% extends 'base.html.twig' %}

{% block title %}Accessoire index{% endblock %}

{% block body %}
    <h1>Accessoire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accessoire in accessoires %}
            <tr>
                <td>{{ accessoire.id }}</td>
                <td>{{ accessoire.nom }}</td>
                <td>{{ accessoire.prix }}</td>
                <td>
                    <a href="{{ path('accessoire_show', {'id': accessoire.id}) }}">show</a>
                    <a href="{{ path('accessoire_edit', {'id': accessoire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('accessoire_new') }}">Create new</a>
{% endblock %}
